$font-path: "../fonts";
@import "vars";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: "Knitto Font";
  src: url("#{$font-path}/knitto-font.ttf");
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: $main-theme;
}
.numbers__star-mobile-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.numbers__star-mobile-2 {
  position: absolute;
  top: 35%;
  left: 0%;
}
.numbers__star-mobile-3 {
  position: absolute;
  top: 83%;
  right: 0;
}
.header__star {
  position: absolute;
  right: 43%;
  bottom: 12%;
}
.star-mobile {
  display: none;
}
.hero__star-1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero__star-2 {
  position: absolute;
  left: 47%;
  bottom: 32%;
}

.hero__star-3 {
  position: absolute;
  right: 24%;
  bottom: 10%;
}

.hero__star-4 {
  position: absolute;
  right: 0;
  top: 0;
}

.cards__star {
  position: absolute;
  top: -10%;
  left: 30%;
}

.cards__star {
  position: absolute;
}

.cards__star-1 {
  top: 32%;
  left: -1%;
}
.cards__star-2 {
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.cards__star-3 {
  top: 32%;
  left: 98%;
}
.cards__star-4 {
  top: 65%;
  left: -1%;
}
.cards__star-5 {
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.cards__star-6 {
  top: 65%;
  left: 98%;
}
.cards__star-7 {
  top: 100%;
  left: -1%;
}
.cards__star-8 {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.cards__star-9 {
  top: 100%;
  left: 98%;
}
.carousel__star-1 {
  position: absolute;
  top: 0;
  left: 20%;
}
.carousel__star-2 {
  position: absolute;
  right: 0;
  bottom: 2%;
}
.carousel__star-1-mobile {
  position: absolute;
  top: -10%;
  left: 0;
}
.carousel__star-2-mobile {
  position: absolute;
  top: 30%;
  right: -3%;
}
.carousel__star-3-mobile {
  position: absolute;
  bottom: 4%;
  left: 30%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  @media (min-width: 768px) {
    width: calc(100% - 400px);
  }
}

.side {
  display: none;

  @media (min-width: 768px) {
    display: block;

  }

  &:first-child {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    transform: rotate(180deg);
    // background-image: url(../icons/design-right.svg);
    background-size: contain;
    background-position: left top;
    // background-repeat: repeat-y;
  }

  &:last-child {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    // background-image: url(../icons/design-right.svg);
    background-size: contain;
    background-position: left top;
    // background-repeat: repeat-y;
  }
}


.title {
  text-align: center;
  font-family: "Knitto Font";
  font-weight: 400;
  font-size: 80px;
  color: #fff;
  margin-bottom: 70px;

  @media (min-width: 768px) {
    font-size: 48px;
    white-space: nowrap;
  }

  @media (min-width: 991px) {
    font-size: 60px;
  }

  @media (min-width: 1100px) {
    font-size: 90px;
  }
}

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 40px;
  margin-bottom: 60px;

  @media (max-width: 1100px) {
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  &__images {
    position: relative;
    justify-self: right;
    max-width: 80%;

    @media (max-width: 1100px) {
      justify-self: center;
      max-width: 60%;
    }

    .applewatch {
      z-index: 11;
      position: absolute;
      top: -60px;
      left: -100px;
      width: 180px;
      height: 200px;

      @media (max-width: 1200px) {
        left: -40px;
        top: -40px;
        width: 80px;
        height: 90px;
      }

      @media (max-width: 991px) {
        left: -70px;
        width: 120px;
        height: 130px;
      }

      @media (max-width: 768px) {
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        width: 110px;
        height: 120px;
      }
    }

    .fireplace {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 1));
    }
  }

  &__text {
    &__title {
      font-size: 2rem;
      color: $main-text;
      font-weight: 800;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    &__body {
      font-size: 1rem;
      color: $main-text;
      line-height: 130%;
      font-weight: 400;
    }

    &__footer {
      font-size: 1rem;
      color: $main-text;
      font-weight: 600;
    }

    span {
      font-size: 1rem;
      color: $main-text;
      font-weight: 800;
    }
  }
}

.numbers {
  display: grid;
  grid-template-columns: 1fr min-content 1fr min-content 1fr;
  gap: 10px;
  margin-bottom: 60px;
  position: relative;
  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  &__arrow {
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
    }

    img {
      @media (max-width: 991px) {
        transform: rotate(90deg);
        width: 24px;
        height: 24px;
        margin-top: 0;
        margin: 10px 0;
      }

      margin-top: 30px;
      width: 50px;
      height: 50px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2) {
      justify-self: center;
    }

    &:nth-child(3) {
      justify-self: end;
    }

    @media (max-width: 991px) {
      &:nth-child(2) {
        justify-self: center;
      }

      &:nth-child(3) {
        justify-self: center;
      }

      justify-self: center;
    }

    &__num {
      font-family: "Knitto Font";
      font-size: 128px;
      color: $main-text;
      font-weight: 400;

      @media (max-width: 991px) {
        font-size: 90px;
      }
    }

    &__text {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 800;
      color: $main-text;
      text-align: center;
      max-width: 280px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
  position: relative;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  &__textwrapper {
    position: relative;
    display: grid;
    place-items: center;
  }

  &__smile {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 99px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
    color: $main-text;
    line-height: 140%;
    max-width: 300px;

    @media (max-width: 1200px) {
      max-width: 100%;
    }

    span {
      font-weight: 800;
    }
  }

  .cardWrapper {
    position: relative;
    height: 240px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 1240px) {
      height: 300px;
    }

    .card {
      transition: 0.3s;
      opacity: 1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      display: grid;
      place-items: center;
      border: 10px solid transparent;
      /* Set the border width */
      border-image: url(../icons/andersongift/flower.svg) 10 repeat;

      /* Replace 'your-svg-file.svg' with the path to your SVG file and adjust border width */
      &__text {
        position: relative;
        z-index: 11;
        font-family: "Knitto Font";
        color: $main-text;
        font-size: 80px;
        text-align: center;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%23FFDB00'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 10;
      }

      &__border:nth-child(1) {
        position: absolute;
        top: 12px;
        left: 0;
        width: 11px;
        height: calc(100% - 24px);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 11;
      }

      &__border:nth-child(2) {
        position: absolute;
        top: 12px;
        right: 0;
        width: 11px;
        height: calc(100% - 24px);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 11;
      }

      &__border:nth-child(3) {
        position: absolute;
        top: 0;
        left: 11px;
        width: calc(100% - 24px);
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 11;
      }

      &__border:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 11px;
        width: calc(100% - 24px);
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 11;
      }

      .light {
        z-index: 9;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 40%;
        border-radius: 100%;
        background: #fff;
        filter: blur(35px);
      }
    }

    .card__back {
      transition: 0.3s;
      opacity: 0;
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      transform: rotateY(-180deg);
      display: grid;
      place-items: center;
      border: 10px solid transparent;

      /* Set the border width */
      &__text {
        position: relative;
        z-index: 10;
        padding: 0 20px;

        &__title {
          font-size: 20px;
          font-weight: 800;
          color: $main-theme;
          margin-bottom: 10px;
        }

        &__body {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          line-height: 130%;

          span {
            font-weight: 800;
          }

          a {
            font-size: 14px;
            font-weight: 700;
            color: $main-theme;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &__bg {
        position: absolute;
        top: 11px;
        left: 12px;
        width: calc(100% - 22px);
        height: calc(100% - 24px);
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%233A3E45'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        z-index: 10;
      }

      &__black-bg {
        position: absolute;
        top: 11px;
        left: 12px;
        width: calc(100% - 22px);
        height: calc(100% - 24px);
        background: rgba(45, 47, 50, 90);
        box-shadow: 0px 0px 10px 10px rgba(45, 47, 50, 90);
      }

      &__border {
        &:nth-child(1) {
          position: absolute;
          top: 12px;
          left: 0;
          width: 11px;
          height: calc(100% - 24px);
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%233A3E45'/%3E%3C/svg%3E%0A");
          background-repeat: repeat;
          z-index: 11;
        }

        &:nth-child(2) {
          position: absolute;
          top: 12px;
          right: 0;
          width: 11px;
          height: calc(100% - 24px);
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%233A3E45'/%3E%3C/svg%3E%0A");
          background-repeat: repeat;
          z-index: 11;
        }

        &:nth-child(3) {
          position: absolute;
          top: 0;
          left: 11px;
          width: calc(100% - 24px);
          height: 12px;
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%233A3E45'/%3E%3C/svg%3E%0A");
          background-repeat: repeat;
          z-index: 11;
        }

        &:nth-child(4) {
          position: absolute;
          bottom: 0;
          left: 11px;
          width: calc(100% - 24px);
          height: 12px;
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='Vector' d='M10.0059 1.37936C9.24611 1.12581 8.44407 1.84419 7.59982 3.53453C6.75558 5.14035 6.24903 6.74616 6.08018 8.35198C5.82691 9.9578 6.03797 11.0565 6.71337 11.6481C7.47319 11.9017 8.31744 11.2256 9.24611 9.61974C10.0904 7.9294 10.5969 6.28132 10.7658 4.67551C10.9346 3.06969 10.6813 1.97097 10.0059 1.37936ZM1.52125 0.491927C0.845849 0.999028 0.592576 2.05548 0.761425 3.6613C0.930275 5.26712 1.47903 6.9152 2.4077 8.60554C3.25195 10.2114 4.05399 10.8875 4.81381 10.6339C5.48921 10.0423 5.74248 8.94361 5.57363 7.33779C5.40478 5.73197 4.89823 4.12614 4.05399 2.52033C3.12532 0.82999 2.28107 0.15386 1.52125 0.491927Z' fill='%233A3E45'/%3E%3C/svg%3E%0A");
          background-repeat: repeat;
          z-index: 11;
        }
      }
    }

    &:hover .card {
      transform: rotateY(180deg);
      opacity: 0;
    }

    &:hover .card__back {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
}

.mycarousel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 20px;
  padding-bottom: 60px;
  position: relative;
  .splide__slide {
    .imageWrapper {
      width: 100%;
      height: 200px;
      background: #d9d9d9;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    color: $main-text;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
}

@media(max-width:768px) {
  .star-pc {
    display: none;
  }
  .star-mobile {
    display: block;
  }
}
